<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.ArticleMapper">

    <insert id="add">
        insert into big_event.article(title,content,cover_img,state,category_id,create_user,create_time,update_time)
        values(#{title},#{content},#{coverImg},#{state},#{categoryId},#{createUser},#{createTime},#{updateTime})
    </insert>

    <select id="list" resultType="Article">
        select * from big_event.article
        <where>
            <if test="categoryId!=null">
                category_id =#{categoryId}
            </if>
            <if test="state!=null">
                and state=#{state}
            </if>
            and create_user=#{id}
        </where>
    </select>

    <select id="detail" resultType="Article">
        select * from big_event.article where id=#{id}
    </select>

    <delete id="delete">
        delete from big_event.article where id=#{id}
    </delete>

    <update id="update">
        update big_event.article set title=#{title},content=#{content},cover_img=#{coverImg},
                                     state=#{state},update_time=#{updateTime},category_id=#{categoryId}
        where id=#{id}
    </update>
</mapper>